.btn{
    width: 100%;
    color:hsl(270, 3%, 87%);
    letter-spacing: 2px;
    background: #21092f;
    border: none;
    padding: 13px 0;
    border-radius: 5px;
    margin-top: 20px;
    transition: all 2s ease-out;       
}
.btn:hover{
    background: linear-gradient(60deg, #03001e, #7303c0,#f64f59, #7303c0);
    animation: gradient 1.5s ease infinite;
    background-size: 200% 200%;

}
@keyframes gradient{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}