.card-wrapp{
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    transform:perspective(1000px);
    
    .card{ 
        display: flex;
        transform-style: preserve-3d;
        width: 380px;
        height: 210px;
        border-radius: .3rem;
        text-transform: uppercase;
        color: aliceblue;
        padding: 1.25rem;
        box-shadow: 10px 15px 35px rgb(0, 0, 0, 0.3);
        transform:perspective(1000px);
        
       
    }
    .card-front{  
        background: linear-gradient(60deg, #03001e, #7303c0,#f64f59, #7303c0);
        animation: gradient 3s ease infinite;
        background-size: 200% 200%;
        flex-direction: column;
           
           .info-card{
            display: flex;
            flex-direction: column;
            justify-content: center;
             perspective: 1000px;
            .info-brand{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .card-brand{
                    font-size: 26px;
                }
            }

            .logo{
                background-image: url('/src/images/card-logo.svg');
                width: 70px;
                height: 30px;
                background-size: contain;
                background-repeat: no-repeat;
            }
           
            .output-number{
                margin-top: 65px;
                font-size: 1.4rem;
                letter-spacing: 3.59px;
                transition: all 0.75s ease-out;
                text-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
               
               
            }
            .output-name{
                margin-top: 20px;
                display: flex;
                font-size: 10px; 
                letter-spacing: 2px;
                justify-content: space-between;
                perspective: 1000px;
                transition: all 0.75s ease-out;
                text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
                
            }

            .output-data{
                display: flex;
            }
            .month-output{
                perspective: 1000px;
            }
           }
       
    }
    .card-back{
        margin-top: 30px;
        margin-left: 80px;
        background: url('../images/bg-card-back.png') no-repeat;
        background-size: cover;
        .output-cv{
            position: relative;
            top: 4.7rem;
            left: 18rem;
            font-size: 12px; 
            letter-spacing: 2px;
        }
       
       
    }
   
    
}

@keyframes gradient{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}