.card-wrapp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform:perspective(1000px);
    
    .card{ 
        display: flex;
        transform-style: preserve-3d;
        width: 330px;
        height: 185px;
        border-radius: .3rem;
        text-transform: uppercase;
        color: aliceblue;
        padding: 1.25rem;
        box-shadow: 10px 15px 35px rgb(0, 0, 0, 0.3);
        transform:perspective(1000px);
        
       
    }
    .card-front{  
        // background: url('../images/bg-card-front.png') no-repeat;
        // background-size: cover;
        background: linear-gradient(60deg, #03001e, #7303c0,#f64f59, #7303c0);
        // background: linear-gradient(60deg, #21092f, #12c2e9,#c471ed,#f64f59 );
        animation: gradient 3s ease infinite;
        background-size: 200% 200%;
        flex-direction: column;
        &::before{
            content: ' ';   
            display: block;
            width: 31px;
            height: 31px;
            border-radius: 50%;
            background-color:rgb(255, 255, 255);
            &::after{
                content: ' ';  
                position: relative; 
                display: block;
                bottom:82px;
                left: 45px;
                width: 12px;
                height: 12px;
                border: 0.5px solid white ;
                border-radius: 50%;
               }  
           }
           
           .info-card{
            margin-top:55px;
            display: flex;
            flex-direction: column;
            perspective: 1000px;
           
            .output-number{
                font-size: 1.25rem;
                letter-spacing: 3.59px;
                transition: all 0.75s ease-out;
               
               
            }
            .output-name{
                display: flex;
                margin-top:20px;
                font-size: 10px; 
                letter-spacing: 2px;
                justify-content: space-between;
                perspective: 1000px;
                transition: all 0.75s ease-out;
                
            }

            .output-data{
                display: flex;
            }
            .month-output{
                perspective: 1000px;
            }
           }
       
    }
    .card-back{
        margin-top: 30px;
        margin-left: 80px;
        background: url('../images/bg-card-back.png') no-repeat;
        background-size: cover;
        .output-cv{
            position: relative;
            top: 4rem;
            left: 16rem;
            font-size: 10px; 
            letter-spacing: 2px;
        }
       
       
    }
   
    
}

@keyframes gradient{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}